@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&family=Satisfy&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Satisfy&family=Varela+Round&display=swap');
body {
  background-color: rgb(48, 48, 48);
  margin: 0px;
  height: 100%;
  font-family: "Varela Round", sans-serif;
  color: #da81ca;
  font-family: "Playfair Display"
}

.aboutUs{
  background-color: rgb(0, 0, 0);
  color:#d73cbb ;
  line-height: 1.6; 
  border: 4px solid #d73cbb ;
margin: 80px;
font-family: "Varela Round", sans-serif;
font-size: calc(5px + 13 * (100vw / 1500));
border-radius: 20px;
padding: 30px;
animation: colorNext 2s ease infinite;
box-shadow: 0 62px 34px rgba(224, 9, 185, 0.1);
}

@keyframes colorNext {
  0%{
    border: 4px solid rgb(255, 255, 255);
  }
  50%{
    border: 4px solid #da81ca;
  }
  80%{
    border: 4px solid #d73cbb;
  }
  100%{
    border: 4px solid white;
  }
}
.aboutUs li{
  color:rgb(255, 255, 255) ;
  transition: color 0.3s;
}
.aboutUs li:hover{
  color: #da81ca;
  cursor: pointer;
}

.logoText{
  
}

.aboutUs ol li{
  margin: 20px;
}
.scroll-button{
  /* фиксированное позиционирование */
  position: fixed;
  /* цвет фона */
  background-color:#d73cbb;
  /* расстояние от правого края окна браузера */
  right: 20px;
  /* расстояние от нижнего края окна браузера */
  bottom: 0;
  border: 2px solid white;
  /* скругление верхнего левого угла */
  border-top-left-radius: 8px;
  /* скругление верхнего правого угла */
  border-top-right-radius: 8px;
  /* вид курсора */
  cursor: pointer;
  /* отображение элемента как flex */
  display: flex;
  /* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
  align-items: center;
  /* выравниваем элементы внутри элемента по центру вдоль главной оси */
  justify-content: center;
  /* ширина элемента */
  width: 60px;
  /* высота элемента */
  height: 50px;
}
.scroll-button::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}


@media (hover: hover) and (pointer: fine) {
  .scroll-button:hover {
    background-color: #512da8; /* цвет заднего фона при наведении */
  }
}

.menu {
  margin: 20px 100px 20px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 150px;
  font-size: calc(8px + 15 * (100vw / 1500));
}
.information{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 9 * (100vw / 1500));
}
.totalPrise span{
  color: #d73cbb;
}
.totalPrise{
  color: white;
  font-size:calc(4px + 25 * (100vw / 1500)) ;
}

.information2{
  font-family: "Varela Round", sans-serif;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 14 * (100vw / 1500));
}
.sortPrise{
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  
  padding: 20px;
}
.sortPrise button{
  background-color: black;
  color:#ffffff;
  padding: 10px;
  font-family:"Satisfy", cursive; 
  border: #ffffff;
  border-radius: 30px;
  cursor: pointer;
  font-size: calc(4px + 14 * (100vw / 1500));
}
.inf p{
  margin: 0px;
}
.local{
  padding: 10px 12px 10px 12px;
  border: 2px solid #da81ca;
  background-color: #ffffff;
  border-radius: 60px;
}

.entrance{
  text-align: center;
}
.slide-out {
  animation: slideOut 0.5s forwards;
}

.slide-in {
  animation: slideIn 0.5s forwards;
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slider{
  text-align: center;
  margin: 50px;
  position: relative;
  overflow: hidden;
}
.buttonsNavigation{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.navigation{
  cursor: pointer;
}
.goOut{
  background-color: #d73cbb;
  color: white;
  font-family: "Playfair Display";
  animation:newCollection 2s ease infinite;
  border-radius: 20px;
}
.newCollection{
  background-color: #d73cbb;
  color: white;
  animation:newCollection 2s ease infinite;
  border-radius: 20px;
  margin-bottom: 60px;
}
.search{
  padding: 10px 120px 10px 120px;
background-color: #ffffff;
border: 3px solid #d73cbb;
border-radius: 30px;
}
.searchContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.newCollection2{
  margin-top: 120px;
  background-color: #d73cbb;
  color: white;
  animation:newCollection 2s ease infinite;
  border-radius: 20px;
}
@keyframes newCollection {
  0%{
    color: white;
    background-color: #d73cbb;
  }
  36%{
    background-color: #ffffff;
    color: black;
  }
}
.purchased {
  border: 2px solid green;
  padding: 10px;
  color: white;
  border-radius: 10px;
}

.not-purchased {
  padding: 10px;
  color: white;
  border-radius: 10px;
  border: 2px solid red;
}

.local2{
  padding: 10px 12px 10px 12px;
  border: 2px solid  #ffffff;
  background-color: #da81ca;
  border-radius: 60px;
}
.calendar{
  padding: 10px 12px 10px 12px;
  border: 2px solid #da81ca;
  background-color: #ffffff;
  border-radius: 60px; 
}
.calendar2{
  padding: 10px 12px 10px 12px;
  border: 2px solid  #ffffff;
  background-color: #da81ca;
  border-radius: 60px; 
}
.phone {
  
  padding: 10px;
  border: 2px solid #da81ca;
  background-color: #ffffff;
  border-radius: 50px;
}
.logoConstructor {
  background: url("../public/image/young-beautiful-stylish-woman-in-wedding-dress.jpg");
  background-size: 100%;
  margin:0px 70px 0px 70px ;
  border-radius: 10px;
  padding: 25px;
}
.catalog{
  color: #da81ca;;
  text-align: center;
  
}
.catalog img{
  border-radius: 10px;
}
.basement{
  color: #ffffff;
  box-shadow: 10px 10px 70px 90px  #da81ca; 
  background-color: #da81ca;
  text-align: center;
 
}


.basement p{
  margin-bottom: 0px;
}
.basementContainer{
  align-items: center;
  justify-content: center;
  gap: 220px;
  display: flex;

}
.Contact ul {
  font-family: "Playfair Display";
  text-align: center;
  list-style-type: none;
  color: aliceblue;
  font-size: calc(10px + 15 * (100vw / 1500));
}
.Contact ul li a i:hover {
  transform: scale(1.3);
}
.Contact ul i {
  color: aliceblue;
}
.bay{
  font-family: "Playfair Display";
  font-size: calc(3px + 12 * (100vw / 1500));
  margin-top: 40px;
  margin: 10px;
  color: white;
  padding: 16px 30px 16px 30px;
  border-radius: 60%;
  padding: 10px 17px 10px 17px;
  border: 4px solid white;
  background-color: #da81ca;
}
.bay3{
  font-family: "Playfair Display";
  font-size: calc(3px + 12 * (100vw / 1500));
  margin-top: 40px;
  margin: 10px;
  color: white;
  padding: 16px 20px 16px 20px;
  border-radius: 30px;
  padding: 10px 17px 10px 17px;
  border: 4px solid white;
  background-color: #da81ca;
}
.bay3:hover{
  color: #da81ca;
  border: 4px solid #da81ca;
  background-color: white;
  cursor: pointer;
}
.bay2{
  font-family: "Playfair Display";
  font-size: calc(3px + 12 * (100vw / 1500));
  margin-top: 40px;
  margin: 10px;
  color: white;
  padding: 16px 30px 16px 30px;
  border-radius: 20px;
  border: 2px solid white;
  background-color: #da81ca;
}
.entranceToRegestration{
  font-size: 10px;
  color: white;
  text-decoration:underline;
}
.entranceToRegestration:hover{
  color: black;
  cursor: pointer;
}
.videoContainer{
  text-align: center;
  margin: 50px 0px 50px 0px;
}
.video{
  border: 2px solid white;
  border-radius: 20px;
}
.select{
  background: #da81ca;
  padding: 8px;
  border: 1px solid white;
  border-radius: 20px;
}
.bay2:hover{
  color: #da81ca;
  background-color: white;
  cursor: pointer;
}
.bay:hover{
  color: #da81ca;
  border: 4px solid #da81ca;
  background-color: white;
  cursor: pointer;
}
.catalogContainer{
  font-family: "Playfair Display";
  margin-top: 40px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 150px;
}

.weddingSalon{
  font-family:"Satisfy", cursive; 
  color: white;
}
.socialNetwork{
  display: flex;
  gap: 40px;
}
.socialNetwork i{
font-size: calc(4px + 30 * (100vw / 1500));
}
.logoText {
  display: flex;
}
.logoText::before{
  align-items: center;
  flex: 0 0 70px;
  content: "";
  margin: 125px 30px 0px 0px;
  background-color: antiquewhite;
  height: 5px;
  animation: shadow1 2s ease infinite;
}

@keyframes shadow {
  50% {
    box-shadow: 0px 0px 18px white;
  }
  80% {
  }
}
.lastText2 {
  -webkit-text-stroke: 1px white;
  animation: 1, 5s linear 0s infinite alternate love;
  font-size: calc(8px + 35 * (100vw / 1500));
}
.firstText2 {
  -webkit-text-stroke: 1px white;
  color: #da81ca;
  font-size: calc(8px + 40 * (100vw / 1500));
  padding-right: 6px;
}
.lastText3 {
  -webkit-text-stroke: 1px white;
  animation: 1, 5s linear 0s infinite alternate love2;
  font-size: calc(8px + 45 * (100vw / 1500));
}
.firstText3 {
  -webkit-text-stroke: 1px white;
  color: #fb08cf;
  font-size: calc(8px + 30 * (100vw / 1500));
  padding-right: 6px;
}
.lastText {
  -webkit-text-stroke: 1px white;
  animation: 1, 5s linear 0s infinite alternate love;
  font-size: calc(8px + 100 * (100vw / 1500));
}
.firstText {
  -webkit-text-stroke: 1px white;
  color: #da81ca;
  font-size: calc(8px + 95 * (100vw / 1500));
  padding-right: 6px;
}
.menu .basket:hover{
color: #ffffff;
cursor: pointer;
}
.logoConstructor h1 {
  font-family: "Satisfy", cursive;
  font-weight: 10;
  font-style: normal;

}
@keyframes love {
  from {
    color: #eaff00;
    
  }
  to {
    color: aliceblue;
  }
}

@keyframes love2 {
  from {
    color: #ccdd14;
    
  }
  to {
    color: rgb(208, 24, 196);
  }
}

.registration{
  text-align: center;
}
.bloc{
  padding: 10px;
}
.bloc input{
  text-align: center;
  border-radius: 10px;
  padding: 10px 60px 10px 60px;
  box-shadow: 0px 3px 40px 3px #da81ca ;
}
.basket{
  text-align: center;
}
.FilterName{
  text-align: end;
  margin-top: 60px;
  font-family: "Playfair Display";
  font-size: calc(8px + 19 * (100vw / 1500));
  color: #da81ca;
}
.sortPrice{
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 20px;
}

.filter{
  border-radius: 10px;
  background-color: #d73cbb;
  padding: 10px;
  font-size: calc(2px + 8 * (100vw / 1500));
  font-family: "Playfair Display";
  border: 2px solid white;
}
.sortCatalog{
  border-radius: 20px;
  border: 2px solid white;
  padding: 16px 30px;
  background-color: #da81ca;
}
.sortCatalog span{
  color: white;
  text-decoration: none;
  font-family: "Playfair Display";
  font-size: calc(3px + 12 * (100vw / 1500));
}

.sortCatalog span:hover{
  color: rgb(0, 0, 0);
}
.catalogContainer2{
  display: flex;
  gap: 210px;
  justify-content: center;
  align-items: center;
}

.bay2:disabled{
  opacity: 0.3;
  cursor:default ;
  border: 2px solid white;
  color: white; 
  background-color: #da81ca;
}
.subCategory{
  background-color: #da81ca;
  margin-left: 5px;
  padding: 5px;
  border-radius: 20px;
  border: 3px solid white;
}
.containerProducts{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  gap: 20%;
}
.sortCatalog ul li{
  font-weight: 900;
  padding: 10px;
  background-size: 100%;
  border-radius: 50%;
  padding:10px;
  border: 1px solid white;
  animation: borderColor 2s ease infinite;
}
.sortCatalog ul li:hover{
  cursor: pointer;
  background: #da81ca;
  color: white;
}
@keyframes borderColor {
  0%{
    border: 1px solid white;
  }
  50%{
    border: 1px solid #da81ca;
  }
  80%{
    border: 1px solid #d73cbb;
  }
  100%{
    border: 1px solid white;
  }
}
.title{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.last{
  font-family: "Playfair Display";
  border: 2px solid  #da81ca;
  padding: 10px;
  border-radius: 20px;
  background: #ffffff;
  color: black;
}
.last:hover{
  background: black;
  color:  #ffffff;
  cursor: pointer;
}
.bloc button{
  font-family: "Playfair Display";
  border: 2px solid  #da81ca;
  padding: 10px;
  border-radius: 20px;
  background: #ffffff;
  color: black;
}
.bloc button:hover{
  background: black;
  color:  #ffffff;
  cursor: pointer;
}