@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&family=Satisfy&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&family=Satisfy&display=swap');

body {
  color:white ;
  margin: 0px;
  height: 100%;
  font-family: "Varela Round", sans-serif;
  background: url("../image/backiee-67262.jpg");
  background-size: 100%;
  color: #da81ca;
}

.menu {
  background-color: rgba(0, 0, 0, 0.559);
  margin: 0px 100px 0px 100px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 150px;
  font-size: calc(8px + 15 * (100vw / 1500));
}
.information{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 9 * (100vw / 1500));
}
.local{
  padding: 10px 12px 10px 12px;
  border: 2px solid #da81ca;
  border-radius: 60px;
}
.calendar{
  padding: 10px 12px 10px 12px;
  border: 2px solid #da81ca;
  border-radius: 60px; 
}
.phone {
  padding: 10px;
  border: 2px solid #da81ca;
  border-radius: 50px;
}
.logoConstructor {
  margin-left: 70px;
  margin-top: 50px;
  padding: 25px;
}
.model{
  color: black;
}
.weddingSalon{
  font-family:"Satisfy", cursive; 
  color: white;
}
.socialNetwork{
  display: flex;
  gap: 40px;
}
.socialNetwork i{
font-size: calc(4px + 30 * (100vw / 1500));
}
.logoText {
  display: flex;
}
.logoText::before{
  align-items: center;
  flex: 0 0 70px;
  content: "";
  margin: 125px 30px 0px 0px;
  background-color: antiquewhite;
  height: 5px;
  animation: shadow1 2s ease infinite;
}

@keyframes shadow {
  50% {
    box-shadow: 0px 0px 18px white;
  }
  80% {
  }
}
.lastText {
  -webkit-text-stroke: 1px white;
  animation: 1, 5s linear 0s infinite alternate love;
  font-size: calc(8px + 100 * (100vw / 1500));
}
.firstText {
  -webkit-text-stroke: 1px white;
  color: #da81ca;
  font-size: calc(8px + 95 * (100vw / 1500));
  padding-right: 6px;
}
.menu .basket:hover{
color: #ffffff;
cursor: pointer;
}
.logoConstructor h1 {
  font-family: "Satisfy", cursive;
  font-weight: 10;
  font-style: normal;

}
@keyframes love {
  from {
    color: #eaff00;
    
  }
  to {
    color: aliceblue;
  }
}

.basement{
  background-color: white ;
  position:relative;
  padding-bottom:50px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}